<h1>LOGIN</h1>
<%= form_tag('/login') do %>
  <%= label_tag id="user[username]", "Username" %>
  <%= text_field_tag "user[username]" %><br><br>
  <%= label_tag id="user[password]", "Password" %>
  <%= password_field_tag "user[password]" %><br>
  <%= submit_tag "Sign In"%>
<% end %>
