<div class="container">
<h1>KITTY CITY EMPIRE</h1>

<ol>
  <% @pets.each do |p| %>
   <li>
     <%= link_to image_tag("profile_photos/#{p.photo_number}.jpg"), p %>
     <br>
     <%= p.name %>
    </li>
  <% end %>
</ol>


<h2>visit these pretty kitties!</h2>
new cat on the block: <%= link_to @new_cat.name, @new_cat %><br>
<%= link_to image_tag("profile_photos/#{@new_cat.photo_number}.jpg"), @new_cat %><br>
pet me, purrrrease: <%= link_to @needs_love.name, @needs_love %><br>
<%= link_to image_tag("profile_photos/#{@needs_love.photo_number}.jpg"), @needs_love %><br>
super surprise: <%= link_to @surprise_cat.name, @surprise_cat %><br>
<%= link_to image_tag("profile_photos/#{@surprise_cat.photo_number}.jpg"), @surprise_cat %><br>
</div>
