<div class="row">
<div class="col s12 m5 l5 center-align">
<h3><%= @pet.name %></h3>
<p>Mood Level: <%= @pet.mood_level %></p>
<div id="catmogi"><%= @pet.is_happy? %></div>

  
  
<!-- OWNER INTERACTIONS Below-->
<div class="col s12 m5 l5">
<% if check_owner_of_pet(@pet) %>
  <div class="row">
    <div class="col s6">
    <%= form_tag("/owner_interactions/#{@pet.id}", method: 'post') do %>
     <%= hidden_field_tag(:kind, :scratch) %>
      <%= button_tag 'Pet me', class: 'btn btn-flat pink lighten-3 white-text' %>
      <%end%>
    </div>

    <div class="col s6">
    <%= form_tag("/owner_interactions/#{@pet.id}", method: 'post') do %>
    <%= hidden_field_tag(:kind, :feed) %>
    <%= button_tag 'Feed Me', class: 'btn btn-flat pink lighten-3 white-text' %>
      <%end%>
    </div>

    <div class="col s6">
    <%= form_tag("/owner_interactions/#{@pet.id}", method: 'post') do %>
    <%= hidden_field_tag(:kind, :lick) %>
    <%= button_tag 'Lick Me', class: 'btn btn-flat pink lighten-3 white-text' %>
      <%end%>
    </div>
    
    <% if flash[:notice] %>
      <p><%=flash[:notice]%></p>
    <% end %>
  </div>
  
    <!-- OWNER INTERACTIONS Above-->


      <%= link_to "Let's go shopping!", store_index_path %><br><br>


<% end %>

<h3>All My Friends:</h3>
<ul>
  <% @people_friends.each do |pf| %>
    <li><%= link_to pf.name, pf %></li>
  <% end %>
</ul>
<br>

  
  
  <!-- FRIEND INTERACTIONS BELOW -->
<% unless is_friend_or_owner_of_pet?(@people_friends, @pet) %>
  <%= button_to 'Be My FRIEND!!!', @pet, method: :patch, class: "btn, btn-flat pink lighten-3" %>
<% end %>

<% if check_friend_of_pet(@people_friends) %>
Hi, <%= @user.name %>, we are best friends!
  <%= form_tag("/friendly_interactions/#{@pet.id}", method: 'post') do %>
      <%= hidden_field_tag(:kind, :scratch) %>
    <%= submit_tag 'Pet me' %>
  <%end%>
  <%= form_tag("/friendly_interactions/#{@pet.id}", method: 'post') do %>
      <%= hidden_field_tag(:kind, :play) %>
    <%= submit_tag 'Play with me' %>
  <% end %>
  <% if flash[:notice] %>
    <p><%=flash[:notice]%></p>
  <% end %>
<% end %>
  

<br>
</div>
</div>


All my treats!!<br>
<h2><% @pet.items.each do |i| %>
  <%= i.emoji %>
<% end %></h2>
</div>

All My Friends:
<ul>
  <% @people_friends.each do |pf| %>
    <li><%= link_to pf.name, pf %></li>
  <% end %>
</ul>
<br>

<div class="col s12 m2">
  <ul>
  <li><p>Hi <%= User.find(current_user).name %></p></li>
  <li><%= link_to "homepage", user_path(current_user) %></li>
  <li><%= link_to "my pet", pet_path(User.find(current_user).pet) %></li>
  <li><%= link_to "all pets", pets_path %></li>
  <li><%= link_to "logout", logout_path, :method => 'post' %></li>
  </ul>
</div>


<!-- List of most Recent Friend Interactions Below -->
<h3> Most Recent Friend Interactions:</h3>
<% @pet.kind_and_time_array.each do |kind, time| %>
  <%= "I was #{kind} on #{time}." %><br>
<%end%><br>
<!-- List of most Recent Friend Interactions above -->


<div class="row">

<% if @user.caramel_points > 0 %>
  <%= @user.name %>'s caramel points: <%= @user.caramel_points %><br>

  <% @user.caramel_points.times do %>
    <div class='candy'>🍭</div>
  <% end %>
<% end %>
</div>
