<h1>Welcome to Pretty Kitty Shoppy</h1>

Hi, <%= @user.name %>, you have <%= "#{@user.caramel_points} ðŸ­" %> and you can buy some cool things for your cat.<br><br>

<%= flash[:notice] %>
<table>
  <% @items.each do |i| %>
    <tr>
    <td><%= i.emoji %></td>
    <td><%= form_tag("/store/#{i.id}", method: :post) do %>
      <%= submit_tag "#{i.price} ðŸ­", data: { confirm: "Buy #{i.emoji} for #{i.price} caramel?" } %>
    <% end %></td>
    </tr>
  <% end %>
</table>
