<div class="container">
<h1>Welcome to Pretty Kitty Shoppy</h1>

Hi, <%= @user.name %>, you have <%= "#{@user.caramel_points} ðŸ­" %> and you can buy some cool things for your cat.<br><br>

<%= flash[:notice] %>
  <% @items.each do |i| %>
    <div class="treatz">
    <td><%= i.emoji %></td>
    <td><%= form_tag("/store/#{i.id}", method: :post) do %>
      <%= button_tag "#{i.price} ðŸ­", class: 'btn pink lighten-3 btn-flat', data: { confirm: "Buy #{i.emoji} for #{i.price} caramel?" } %>
    <% end %></td>
  </div>
  <% end %>
  <br>
<%= link_to "back to my pet", pet_path(User.find(current_user).pet) %>
</div>
