<!DOCTYPE html>
<html>
  <head>
    <title>Pretty Kitty City</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Hind:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
      <div class="col s12 m8 l9">
    <%= yield %>
    </div>
    <div class="col s12 m4 l3">
      <% if current_user && request.env['PATH_INFO'] != '/' %>
        <div class="nav center-align">
          <ul>
          <li><%= link_to "homepage", user_path(current_user) %></li>
          <li><%= link_to "all pets", pets_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
    </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
